# 为了安全起见，强烈建议将其修改为一个安全的随机字符串，并在你的应用中使用该 Token 进行连接
TOKEN=p79p09HplVhTd7bzjn8X\n# 最大并发数量\nMAX_CONCURRENT_SESSIONS=10\n\n# 时区设置（这会影响页面的一些时间渲染）\nTZ=Asia/Shanghai\n\n# 伪装操作系统（User-Agent），比如这里伪装成 Windows 10 系统上的 Chrome\nDEFAULT_USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"\n\n# 忽略 HTTPS 证书错误\nDEFAULT_IGNORE_HTTPS_ERRORS=true\n\n# 开启反爬虫隐身模式避过一些网站的指纹检测\nDEFAULT_STEALTH=true
